@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&display=swap');

/* Navbar */
.row {
    margin: 0;
}

.main_menu {
    background-color: var(--main-bg);
}

.navbar {
    color: #fff;
    background-color: var(--main-bg);
    padding: 2rem 0;
}

.navbar li {
    margin-left: 20px;
}

.nav-link,
.navbar-brand {
    color: #fff;
    font-size: 1.8rem;
}

.nav-link:hover,
.navbar-brand:hover {
    color: var(--main-color);
}

.navbar-brand.active,
.nav-link.active {
    color: var(--main-color) !important;
}


.navbar-toggler {
    background-color: grey;
}

.nav-item {
    text-decoration: none;
    color: inherit;
}

/* Home page */


.main_header_left {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.6rem auto;
}



.main_header_left button {
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.75rem;
    border-radius: 4rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
    width: 25rem;
    height: 5rem;
}

.main_header_left button:hover {
    box-shadow: 0 8px 6px -6px var(--main-color);
}

.main_header_right {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.6rem auto;
}

.main_header_right figure img {
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.5));
}

.main_header_left .main {
    width: 100%;
    height: 70%;
    margin-top: auto;
}

.main_header_left .main-register {
    width: 100%;
    height: 70%;
    margin-top: auto;
}

h1 {
    color: #4CAF50;
    margin-bottom: 1rem;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: bold;
    font-size: 1.6rem;
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.4rem;
}

input::placeholder {
    font-size: 1.4rem;
    color: #979494;
}

.main_header_left .btn-a {
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    width: 100%;
    font-size: 1.5rem;
}

.wrap {
    text-align: center;
}

.login-p {
    text-align: center;
    font-weight: 300;
    font-size: 1.75rem;
}



.column-sign {
    margin: 1.25rem auto;
    display: flex;
    flex-direction: column;
}

.row-sign {
    display: flex;
    justify-content: flex-start;
    bottom: 0;
}

/* footer code */
footer {
    width: 100%;
    background-color: var(--main-bg);
    position: absolute;
    bottom: 0;
}

footer p {
    margin: 0;
    text-align: center;
    color: #fff;
    line-height: 5rem;
    font-size: 1.5rem;
}

/* Brands card*/
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    /* Responsive grid with minimum width of 20rem */
    gap: 1.5rem;
    padding: 1.5rem;
    justify-items: center;
    margin-bottom: 5rem;
}

.card {
    width: 100%;
    /* Take full width of its container */
    max-width: 20rem;
    /* Maximum width of 20rem */
    height: 15rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* Center align the card horizontally */
}

.card:hover {
    transform: translateY(-4px);
}

.logo {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}

.name {
    font-size: 1.5rem;
    color: #333;
    font-weight: bolder;
}

/* Media Query for Tablet and Mobile Devices */
@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        /* Adjust columns for smaller screens */
        padding: 1rem;
        /* Reduce padding */
    }

    .card {
        max-width: 15rem;
        /* Adjust max-width for smaller screens */
        height: 12rem;
        /* Adjust height accordingly */
    }
}


/* suggest page */

.app-container{
    max-width: 100%;
    max-height: 100%;
}

.external-link-iframe{
    width: 100%;
    height:100vh;
}


/* chat button */
.chat-icon-container {
    position: absolute; 
    bottom: 1rem;
    right: 5%;
    cursor: pointer;
    z-index: 1001; 
}

.chat-icon {
    width: 5rem; 
    height: auto; 
    margin-bottom: 5rem;
    right: 1%;
}

.chat-window {
    position: absolute;
    bottom: 10rem; 
    right: 1%; 
    width: 45vw; 
    height: 70vh;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-right: 5rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
    .chat-icon-container {
        bottom: 2rem; 
        right: 2%;
    }

    .chat-icon {
        width: 4rem; 
    }

    .chat-window {
        bottom: 10%; 
        width: 80%;
        height: 70vh;
        margin-right: 5%;
    }
}